.about {
  position: relative;
  padding: 56px 0 2px;

  @include vp-1199 {
    padding: 0;
  }
}

.about__picture {
  position: absolute;
  z-index: -1;
  left: 0;
  display: flex;
  width: 50%;
  height: 100%;
  min-width: 808px;
  max-height: 474px;
  pointer-events: none;
  user-select: none;

  @include vp-1199 {
    top: 60px;
    min-width: 541.68px;
    max-height: 350px;
  }
}

.about__picture picture,
.about__picture img {
  display: flex;
  width: 100%;
}

.about__title {
  &:not(:last-child) {
    margin-bottom: 56px;
  }

  @include vp-1199 {
    padding-left: 6px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

.about__right-column {
  width: 48.75%;
  margin-left: auto;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 39.82%;
  }
}

.about__text-wrapper {
  padding: 0 0 79px;

  @include vp-1199 {
    padding: 0 0 2px;
  }
}

.about__text-wrapper h3 {
  margin: 0;
  font-size: 21px;
  line-height: 21px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
}

.about__text-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 29px;
  }
}
