.about {
  position: relative;
  padding: 34px 0 15px;
}

.about__picture {
  position: absolute;
  z-index: -1;
  left: 0;
  display: flex;
  width: 50%;
  height: 100%;
  min-width: 808px;
  max-height: 474px;
  pointer-events: none;
  user-select: none;
}

.about__picture picture,
.about__picture img {
  display: flex;
  width: 100%;
}

.about__title {
  &:not(:last-child) {
    margin-bottom: 56px;
  }
}

.about__right-column {
  width: 48.7%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.about__text-wrapper {
  padding: 0 0 79px;
}

.about__text-wrapper h3 {
  margin: 0;
  font-size: 21px;
  line-height: 21px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.about__text-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 29px;
  }
}
