.advantage-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  min-height: 329px;
  border: 1px solid rgba($color-navy-blue, $alpha: 0.1);
  padding: 39px 19px;
  text-align: center;
  background-color: $color-default-white;
  word-break: break-word;

  @include vp-1199 {
    width: auto;
    min-width: 324px;
    min-height: 340px;
    padding: 29px 19px;
  }

  @include vp-767 {
    min-width: 290px;
    min-height: 239px;
    padding: 19px 9px;
  }
}

.advantage-card__picture {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border: 1px solid $color-navy-blue;
  color: $color-navy-blue;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include vp-1199 {
    width: 48px;
    height: 48px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @include vp-767 {
    width: 42px;
    height: 42px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.advantage-card__text-wrapper h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }
}

.advantage-card__text-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}

.advantage-card__text-wrapper p br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.advantage-card__text-wrapper h3 br {
  display: none;

  @include vp-1199 {
    display: block;
  }
}
