.advantages {
  position: relative;
  overflow-x: clip;
  padding: 42px 0 81px;

  @include vp-1199 {
    padding: 45px 0;
  }
}

.advantages__decor {
  position: absolute;
  z-index: -1;
  display: flex;
  pointer-events: none;
  user-select: none;

  &--left {
    top: -125px;
    left: 0;
    width: 875px;
    height: 402px;
  }

  &--right {
    top: 60px;
    right: 0;
    width: 462px;
    height: 263px;
  }
}

.learning__decor img,
.learning__decor picture {
  display: flex;
}

.advantages__title {
  width: 100%;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 47px;
  }
}

.advantages__title > .title-shadow__back {
  left: 50%;
  transform: translateX(-50%);
}

.advantages__slider {
  overflow: visible;

  &:not(:last-child) {
    margin-bottom: 50px;

    @include vp-1199 {
      margin-bottom: 0;
    }
  }
}

.advantages__list {
  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;
  }
}

.advantages__item:last-child {
  @include vp-1199 {
    grid-column: span 2;
    width: 380px;
    min-height: 290px;
  }
}

.advantages__slider-controls {
  justify-content: center;
  pointer-events: none;
  opacity: 0.1;

  @include vp-1199 {
    display: none;
  }

  @media (max-width: 2038px) {
    pointer-events: all;
    opacity: 1;
  }
}
