.btn {
  display: inline-flex;
  justify-content: center;
  min-width: 180px;
  padding: 19px;
  color: $color-default-white;
  background-color: $color-navy-blue;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
  line-height: 16px;
  transition: opacity $trans-default;

  &:disabled {
    background-color: $color-nobel;
    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-resolution-blue;
    border-color: $color-resolution-blue;
    outline-offset: 2px;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
  }
}

.btn.disabled {
  background-color: $color-nobel;
}
