.btn {
  display: inline-flex;
  justify-content: center;
  min-width: 180px;
  padding: 20px;
  color: $color-default-white;
  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 16px;

  // transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
