.footer {
  padding: 31px 0 32px;
  border-top: 1px solid rgba($color-elephant, 0.2);
}

.footer__grid {
  display: grid;
  gap: 22px;
}

.footer__top-wrapper {
  display: flex;
  align-items: center;
}

.footer__nav {
  width: 52%;
  margin: 0 auto;
}

.footer__socials {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer__link {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
