.gallery-card {
  display: grid;
  width: 272px;
  height: 449px;

  &--two-rows {
    grid-template-rows: 179px 265px;
    gap: 5px;
    width: 298px;
  }
}

.gallery-card picture,
.gallery-card img {
  display: flex;
  width: 100%;
}
