.header {
  position: absolute;
  width: calc(100% - 40px);
  min-height: 126px;
  max-height: 186px;
  padding: 32px 20px;
  background-color: $color-navy-blue;
  color: $color-default-white;
  z-index: 2;
  transition: $trans-default, background-color $trans-default;

  &--static {
    position: static;
  }

  @include vp-1199 {
    min-height: 82px;
    width: 100%;
    left: 0;
    padding: 20px 45px;
  }

  @include vp-767 {
    max-height: 140px;
    padding: 15px 15px 13px;
  }
}

.header.is-open {
  position: absolute;
  background-color: $color-default-white;
  min-height: 408px;
  padding: 20px 45px 70px 45px;
  transition: $trans-default, background-color $trans-default;

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: -45px;
    width: calc(100vw + 45px);
    height: 100vh;
    background-color: rgba(45, 56, 63, 0.60);
  }

  @include vp-767 {
    min-height: 359px;
    padding: 15px 15px 50px;
  }
}

.header.is-open .nav__burger-in {
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    transform: rotate(-45deg);
    height: 32px;
    width: 2px;
    background-color: $color-default-black;
  }

  &::after {
    content: "";
    top: -3px;
    position: absolute;
    transform: rotate(45deg);
    height: 32px;
    width: 2px;
    background-color: $color-default-black;
  }
}

.header.is-open .nav__burger-decor {
  display: none;
}

.header.is-open .header__inner {
  color: $color-elephant;
}

.header.is-open .nav__list {
  position: absolute;
  top: 85px;
  left: -5px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: start;
  min-width: 290px;
  max-height: 290px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  @include vp-767 {
    top: 100px;
    gap: 22px;
    max-width: 290px;
    max-height: 200px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.header.is-open .nav__link {
  color: $color-elephant;

  @include hover {
    border-bottom-color: $color-elephant;
  }

  @include focus {
    border-color: $color-elephant;
    outline-offset: 2px;
  }

  @include active {
    border-color: transparent;
  }
}

.header.is-open .header__tel {
  color: $color-elephant;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1199 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto;
    grid-template-areas: "navigation logo tel";
  }

  @include vp-767 {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "navigation logo"
      ".  tel";
    gap: 14px;
  }
}

.header__logo {
  grid-area: logo;
}

.header__nav {
  margin: 0 auto;
  grid-area: navigation;
}

.header__nav .nav__list {
  max-width: 584px;
}

.header__tel {
  grid-area: tel;
}
