.header {
  position: absolute;
  width: calc(100% - 40px);
  padding: 32px 20px;
  background-color: $color-navy-blue;
  color: $color-default-white;
  z-index: 2;

  &--static {
    position: static;
  }

  @include vp-1199 {
    width: 100%;
    left: 0;
    padding: 20px 45px;
  }
}

.header__burger {
  display: none;
  width: 26px;
  height: 26px;

  @include vp-1199 {
    display: block;
    margin-right: 100px;
  }
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1199 {
    justify-content: space-between;
  }
}

.header__nav.nav {
  margin: 0 auto;

  @include vp-1199 {
    display: none;
  }
}
