.instructor-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  align-self: stretch;
  min-width: 285px;
  min-height: 356px;
  padding: 14px;
  border: 1px solid rgba($color-navy-blue, 0.1);
  background-color: $color-default-white;

  @include vp-1199 {
    min-width: 212.66px;
    min-height: 388px;
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 356px;
  }
}

.instructor-card__picture-wrapper {
  display: flex;
  width: 100%;
  height: 200px;
}

.instructor-card__picture-wrapper picture,
.instructor-card__picture-wrapper img {
  display: flex;
  width: 100%;
}

.instructor-card__top-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.instructor-card__title {
  width: 55%;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.instructor-card p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
