.learning {
  position: relative;
  padding: 20px 0 0;
  overflow-x: clip;

  @include vp-1199 {
    padding: 45px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}

.learning__title {
  &:not(:last-child) {
    margin-bottom: 32px;

    @include vp-1199 {
      margin-bottom: 20px;
    }

    @include vp-767 {
      margin-bottom: 17px;
    }
  }
}

.learning__text {
  width: 70%;

  &:not(:last-child) {
    margin-bottom: 60px;
  }

  @include vp-1199 {
    width: 80%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include vp-767 {
    width: auto;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

.learning__text p {
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

.learning__slider-wrapper {
  &:not(:last-child) {
    margin-bottom: 58px;

    @include vp-1199 {
      margin-bottom: 26px;
    }
  }
}

.learning__slider-title-wrapper {
  &:not(:last-child) {
    margin-bottom: 20px;

    @include vp-1199 {
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-bottom: 25px;
    }
  }
}

.learning__slider-title {
  padding-bottom: 32px;
}

.learning__process-title {
  word-break: break-word;
  &:not(:last-child) {
    margin-bottom: 23px;

    @include vp-1199 {
      margin-bottom: 37px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }
}

.learning__process-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 29px 0;
    grid-auto-flow: dense;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 25px 0;
  }
}

.learning__process-item {
  display: flex;
  flex-wrap: wrap;
}

.learning__process-item:nth-child(4n)>.process-card,
.learning__process-item:nth-child(4n-1)>.process-card {
  @include vp-1199 {
    flex-direction: column-reverse;
    gap: 13px;
    padding: 3px 0 2px;
  }

  @include vp-767 {
    padding: 0;
    gap: 16px;
    flex-direction: row-reverse;
  }
}

.learning__process-item:nth-child(4n) {
  @include vp-1199 {
    grid-column: 1;
  }

  @include vp-767 {
    grid-column: auto;
  }
}

.learning__process-item:nth-child(4n-1) {
  @include vp-1199 {
    grid-column: 2;
  }

  @include vp-767 {
    grid-column: auto;
  }
}

.learning__decor {
  right: 0;
  bottom: -170px;
  width: 620px;
  height: 280px;

  @include vp-1199 {
    bottom: 17px;
    width: 465px;
  }

  @include vp-767 {
    display: none;
  }
}
