.logo-link {
  display: flex;

  @include vp-1199 {
    height: 42px;
  }

  @include hover-focus {
    &[href] {
      opacity: 0.7;
    }
  }

  @include active {
    &[href] {
      opacity: 0.3;
    }
  }
}
