.process-card {
  position: relative;
  display: flex;
  gap: 3px;
  width: 253.33px;
  padding: 3px 0 8px;
  flex-direction: column;
  justify-content: space-between;

  @include vp-1199 {
    width: 345px;
    min-height: auto;
    gap: 11px;
  }
}

.process-card__text-wrapper {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.process-card__icon-wrapper {
  flex-shrink: 0;
  margin-top: 3px;
  width: 25px;
  height: 25px;
}

.process-card__text {
  margin: 0;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
    width: 70%;
  }
}

.process-card__decor {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba($color-navy-blue, 0.2);
  }

  &--left {
    &::after {
      left: 10px;
      width: calc(100% - 10px);
    }
  }

  &--wide {
    &::after {
      width: 100vw;
    }
  }

  &::before {
    content: "";
    position: relative;
    left: 10px;
    width: 14px;
    height: 14px;
    background-color: $color-navy-blue;
    border-radius: 50%;
  }
}
