.review-card {
  display: grid;
  grid-template-columns: 40.31% 1fr;
  gap: 30px;
  max-width: 700px;
  min-height: 293px;
  padding: 18px 40px 20px 20px;
  box-shadow: 0 0 20px 0 rgba($color-resolution-blue, 0.1);
  background-color: $color-default-white;
  word-break: break-word;

  @include vp-1199 {
    padding: 20px 30px 19px 20px;
    grid-template-columns: 36% 1fr;
    max-width: 565px;
    min-height: 277px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    gap: 19px;
    max-width: 320px;
    min-height: 466px;
    padding: 20px 20px 16px 20px;
  }
}

.review-card__picture-wrapper {
  width: 258px;
  height: 253px;
  margin-top: 2px;

  @include vp-1199 {
    width: 186px;
    height: 237px;
    margin: 0;
  }

  @include vp-767 {
    width: 100%;
    height: 169px;
  }
}

.review-card__right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-1199 {
    gap: 25px;
  }

  @include vp-767 {
    gap: 16px;
  }
}

.review-card__text-wrapper {
  @include vp-1199 {
    margin-top: 3.5px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.review-card__text-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  &:not(:last-child):not(:first-child) {
    margin-bottom: 10px;
  }

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.review-card__title-wrapper {
  padding-bottom: 6px;

  @include vp-1199 {
    padding: 0;
  }
}

.review-card__title {
  margin: 0;
  font-size: 13px;
  line-height: 13px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

.review-card__subtitle {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
