.reviews {
  padding: 17px 0;
}

.reviews__slider-header {
  &:not(:last-child) {
    margin-bottom: 29px;
  }
}

.reviews__slider {
  margin-top: -2px;
  padding: 10px;
}

.reviews__slider-controls {
  align-items: center;
}

.reviews__slider-controls button {
  margin-bottom: 3px;
}
