.reviews {
  padding: 17px 0;
}

.reviews__slider-header {
  &:not(:last-child) {
    margin-bottom: 27px;
  }
}

.reviews__slider {
  padding: 10px;
}

.reviews__slider-controls {
  align-items: center;
}

.reviews__slider-controls button {
  margin-bottom: 3px;
}
