.slider-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: end;
}

.slider-controls .slider-controls__btn {
  align-items: center;
  min-width: auto;
  width: 37px;
  height: 35px;
  padding: 0;
  border: 1px solid transparent;

  @include hover-focus {
    color: $color-resolution-blue;
  }
}
