.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba($color-elephant, 0.3);

  &--primary {
    width: 30px;
    height: 30px;
  }

  @include hover-focus {
    border-color: $color-elephant;
    outline-offset: 2px;
  }

  @include active {
    background-color: $color-navy-blue;
    border-color: $color-navy-blue;
    color: $color-default-white;
  }
}

.socials-link.disabled {
  color: rgba($color-elephant, 0.3);
}
