.tel-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }

  &--primary {
    color: $color-default-white;

    @include active {
      color: $color-default-white;
      opacity: 0.5;
    }
  }
}
