.tours {
  position: relative;
  padding: 100px 0;

  @include vp-1199 {
    padding: 45px 0;
  }

  @include vp-767 {
    padding: 20px 0 19px;
  }
}

.tours__decor {
  top: 0;
  right: 0;
  width: 602px;
  height: 1630px;

  @include vp-1199 {
    height: 1364px;
  }

  @include vp-767 {
    top: 110px;
    width: 171px;
    height: 595px;
  }
}

.tours__slider-header {
  &:not(:last-child) {
    margin-bottom: 50px;

    @include vp-1199 {
      margin-bottom: 22px;
    }
  }
}

.tours__slider-controls-btn {
  margin-bottom: 3px;
}

.tours__slider {
  &:not(:last-child) {
    margin-bottom: 53px;

    @include vp-1199 {
      margin-bottom: 25px;
    }
  }
}

.tours__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  word-break: break-word;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.tours__link span {
  margin-left: 3px;
}

.tours__link.disabled {
  color: $color-navy-blue;
}

.tours__link.disabled svg {
  opacity: 0.1;
}
