.tours {
  padding: 100px 0;
}

.tours__top-inner {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.tours__slider-controls-btn {
  margin-bottom: 3px;
}

.tours__slider {
  &:not(:last-child) {
    margin-bottom: 53px;
  }
}

.tours__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
}
