.tours {
  padding: 100px 0;
}

.tours__slider-header {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.tours__slider-controls-btn {
  margin-bottom: 3px;
}

.tours__slider {
  &:not(:last-child) {
    margin-bottom: 53px;
  }
}

.tours__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: max-content;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.tours__link.disabled {
  color: $color-navy-blue;
}

.tours__link.disabled svg {
  opacity: 0.1;
}
